@font-face {
    font-family: "Cocogoose-ligth";
    src: url(./fonts/Cocogoose-Pro-Light-trial.ttf);
}

@font-face {
    font-family: "Cocogoose-semiligth";
    src: url(./fonts/Cocogoose-Pro-Semilight-trial.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto-fundo: #000;
    --titulos: #A551FF;
    --escritas: #9837FF;
    --fundo: #9837FF;
}

body {
    overflow-x: hidden;
    background-color: var(--preto-fundo);
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* -------menu-------  */
header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 155px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--branco);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family: "Cocogoose-semiligth";
}

.menu a {
    color: var(--branco);
}

.menu a :hover{
    color: var(--titulos);
    text-decoration: underline;
    transition: .5s;

}


/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--fundo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--branco);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--branco);
    }
}

/* -------bannerrr------- */

.banner {
    background-image: url(./img/BANNER.png);
    height: 110vh;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* ----------sobre nos-------- */

#sobre-nos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    margin-top: 120px;
}

#sobre-nos h2 {
    font-family: "Cocogoose-semiligth";
    font-size: 42px;
    color: var(--branco);
    /* margin-left: 200px; */
    text-align: center;
}

#sobre-nos span {
    font-family: "Cocogoose-semiligth";
    font-size: 42px;
    color: var(--titulos);
    /* text-align: center; */
}

#sobre-nos img {
    max-width: 900px;
    box-shadow: 10 10 30px rgba(112, 27, 204, 0.7)
}

#sobre-nos p {
    font-family: "Cocogoose-ligth";
    color: var(--branco);
    text-align: justify;
    margin-top: 30px;
    font-size: 25px;
}

#sobre-nos .texto-roxo {
    font-family: "Cocogoose-ligth";
    font-size: 27px;
    color: var(--escritas);
}

.titulo1 {
    display: flex;
    margin-left: 200px;
    gap: 10px;
    margin-bottom: 120px;
}

/* ---------treinar aurafit---------- */
#pq-treinar {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    gap: 100px;
    margin-top: 120px;
}

#pq-treinar h2 {
    font-family: "Cocogoose-semiligth";
    font-size: 42px;
    color: var(--branco);
    /* margin-left: 200px; */
    text-align: center;
}

#pq-treinar span {
    font-family: "Cocogoose-semiligth";
    font-size: 42px;
    color: var(--titulos);
    text-align: center;
}

#pq-treinar img {
    max-width: 800px;
    /* border: 10px solid; */
}

#pq-treinar p {
    font-family: "Cocogoose-ligth";
    font-size: 25px;
    color: var(--branco);
    text-align: justify;
    margin-top: 30px;
}

.titulo2 {
    display: flex;
    gap: 10px;
    margin-bottom: 110px;
}

#pq-treinar .texto-roxo {
    font-family: "Cocogoose-ligth";
    font-size: 27px;
    color: var(--escritas);
}

/* -----------localizacao----------- */

#localizacao-titulo {
    font-family: "Cocogoose-semiligth";
    font-size: 47px;
    color: var(--branco);
    margin-top: 120px;
    text-align: center;
}

#localizacao {
    display: flex;
    gap: 121px;
}

/* --------localizacao 1-------------- */
.quadrado {
    margin-top: 120px;
    height: 426px;
    width: 259px;
    background-color: var(--branco);
    border-radius: 7px;
    align-items: center;
}
.quadrado:hover{
    transform: scale(1.2);
    transition: .5s;
}

.quadrado img {
    height: 259px;
    width: 259px;
    padding: 10px;
}

.quadrado h2 {
    font-family: "Cocogoose-ligth";
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.quadrado p {
    font-family: "Cocogoose-ligth";
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

.quadrado h3 {
    font-family: "Cocogoose-semiligth";
    font-size: 15px;
    color: #fff;
    margin-top: 25px;
    background-color: var(--fundo);
    text-align: center;
    height: 30px;
    width: 7vw;
    margin-left: 20%;
    border-radius: 55px;
    padding-top: 5px;
}

/* -------------banner2------------- */
#banner-menor {
    height: 40vh;
    background-image: url(./img/Banner\ menor.png);
    margin-top: 120px;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: 100%;
}

/* ------------suplementos-------------- */

#suplementos-titulo {
    font-family: "Cocogoose-semiligth";
    font-size: 47px;
    color: var(--branco);
    margin-top: 120px;
    text-align: center;
}

#suplementos {
    display: flex;
    gap: 110px;
    margin-right: 300px;
}


/* ------------suplementos1-------------- */
.suplemento {
    margin-top: 120px;
    height: 530px;
    width: 328px;
    background-color: var(--branco);
    border-radius: 7px;
    align-items: center;
}
.suplemento:hover{
    transform: scale(1.2);
    transition: .5s;
}

.suplemento img {
    height: 448px;
    width: 314px;
    padding: 10px;
}



.suplemento h3 {
    font-family: "Cocogoose-semiligth";
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    background-color: var(--fundo);
    text-align: center;
    height: 35px;
    width: 8vw;
    margin-left: 23%;
    border-radius: 55px;
    padding-top: 6px;
}

/* ---------comece a treinar--------- */

#formulario1 {
    width: 611px;
    height: 642px;
    margin-right: 435px;
    position: relative;
    bottom: 750px;
    background-color: var(--branco);
    border-radius: 10px;
}

#formulario {
    margin-top: 250px;
    display: flex;
    gap: 350px;
}

.titulo-formulario h2 {
    font-family: "Cocogoose-semiligth";
    font-size: 48px;
    color: var(--branco);
}

.titulo-formulario h3 {
    font-family: "Cocogoose-semiligth";
    font-size: 65px;
    color: var(--titulos);
    margin-left: 35px;
}

.campo{
    font-family: "Cocogoose-semiligth";
    font-size: 35px;
    color: #000;
    margin-top: 30px;
    padding: 50px;
}

.campo input{
    border: "none";
}

.botao-form{
    font-family: "Cocogoose-semiligth";
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
    background-color: var(--fundo);
    text-align: center;
    height: 40px;
    width: 7vw;
    margin-left: 37%;
    border-radius: 55px;
    padding-top: 5px;
}

/* _-----------footer--------- */
.svg-aura {
    display: flex;
    justify-content: center;
}

.titulo-footer h2 {
    font-family: "Cocogoose-ligth";
    font-size: 36px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icones-redes {
    margin-top: 20px;
    width: 100%;
    gap: 30px;
    height: 75px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.icone-contato {
    margin-top: 20px;
    width: 100%;
    gap: 30px;
    height: 75px;
    color: #fff;
    display: flex;
    justify-content: center;
}
.direitos{
    font-family: "Cocogoose-ligth";
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}